/*-------------
 	General
-------------*/
	
	/* #1a1b1e - background*/
	/* #cdcdcd - кнопки на Header*/

@font-face {
    font-family: "JetBrainsMonoRegular";
    src: url("../fonts/mono/ttf/JetBrainsMono-Regular.ttf");
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px 'JetBrainsMonoRegular';
	color: #cdcdcd;
	background-color:#1a1b1e;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #cdcdcd;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #3f4040;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 300px;
	height: 1px;
	background-color:#cdcdcd;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'JetBrainsMonoRegular';
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #cdcdcd;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'JetBrainsMonoRegular';
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Person Section
----------------*/

.person{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.person .background-image{
	content:url("../img/profile.JPEG");
	border-radius: 100%;
	border: 5px solid #cdcdcd;
	min-width: 150px;
	max-width: 250px;
	width: 30%;
	height: auto;
}

.person .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1a1b1e;
	opacity: 0.75;
}

.person h1{
	font: bold 60px 'JetBrainsMonoRegular';
	margin-bottom: 15px;
}

.person h3{
	font: normal 28px 'JetBrainsMonoRegular';
	margin-bottom: 40px;
}

.person a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.person{
		min-height: 600px;
	}

	.person h1{
		font-size: 48px;
	}

	.person h3{
		font-size: 24px;
	}

	.person a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Projects Section
---------------------*/

.projects{
	background-color: #1a1b1e;
}

.projects h2{
	text-align: center;
}

.projImages{
	display: flex;
	flex-direction: row;
}

.img1{
	content:url("../img/img1.png");
	border-radius: 10%;
	border: 5px solid #cdcdcd;
	width: 350px;
	margin: 20px;
}

.img2{
	content:url("../img/img2.png");
	border-radius: 10%;
	border: 5px solid #cdcdcd;
	width: 350px;
	margin: 20px;
}

.img3{
	content:url("../img/img3.png");
	border-radius: 10%;
	border: 5px solid #cdcdcd;
	width: 350px;
	margin: 20px;
}

@media (max-width: 1000px){
	.projImages{
		flex-direction: column;
	}

	.img1{
		width: 250px;
	}

	.img2{
		width: 250px;
	}

	.img3{
		width: 250px;
	}
}




/*----------------------
 	Skils Section
----------------------*/

.skils{
	background-color: #1a1b1e;
}

.skils .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.skils .grid li i{
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
}

.skils .grid li h4{
	color: #167dff;
    font-size: 20px;
    margin-bottom: 25px;
}

.skils .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.skils .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.skils .grid li:last-child{
		margin-bottom: 0;
	}

}

@media (max-width: 600px){

	.skils .grid li{
		flex-basis: 100%;
	}

}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #1a1b1e;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}


div.scrollup {
	position: fixed; 					/* фиксированная позиция */
	color: #fff; 					  /* цвет текста */
	background-color: #286090; 		  /* цвет заднего фона */
	right: 20px; 						/* расстояние от правого края */
	bottom: 0px; 						/* расстояние от нижнего края */
	padding: 4px 10px; 					/* отступы до содержимого блока */
	font-size: 20px; 					/* размер шрифта (иконки) */
	border-top-left-radius: 4px; 		/* скругление верхнего левого угла */
	border-top-right-radius: 4px; 		/* скругление верхнего правого угла */
	cursor: pointer; 					/* форма курсора */
	display: none; 						/* не отображать элемент */
	text-align: center; 				/*выравнивание содержимого элемента по центру */
  }
  div.scrollup:hover {
	background-color: #000; 		  /* цвет заднего фона при наведении */
  }